.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 200px;
    width: 100%;
    position: absolute;
    border: #333;
    border-radius: 12px;
    
    
  }
  .footer5 {
    font-size: 17px;
    text-decoration: none;
    color: #fff;
  }
  
  .footer-links,
  .footer-newsletter
   {
    display: flex;
    flex-direction: column;
  }
  
  .footer-links h3,
  .footer-newsletter h3 {
    margin: 0;
  }
  
  .footer-links ul,
  .footer-newsletter form {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .footer-links li {
    margin: 10px 0;
  }
  
  .footer-newsletter input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .footer-newsletter button[type="submit"] {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: 0;
    cursor: pointer;
  }
  .footer-icons{
    display: flex;
    flex-direction: row;
    
  }
  
  .footer-icons a {
    margin: 20px;
    color: #fff;
    flex-direction: row;
  }
  
  .footer-icons a:hover {
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
    }
  
    .footer-links,
    .footer-newsletter,
    .footer-icons {
      width: 100%;
    }
  }
  