* {
  box-sizing: border-box;
}

body {
  color: #333;
  min-height: 100vh;
   display: flex;
   flex-direction: column;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: 32vh;
}

main {
 
  margin: 0 auto;
  min-height: calc(100vh -211px -58px);
} 


header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
  /* color: red; */
  display: grid;
  
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.logor  {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
    display: flex;
  gap: 15px;
}

div.post {
  display:grid;
  grid-template-columns: 1.0fr 1.9fr;
  flex-direction: row;
  gap: 1px 50px;
  margin-bottom: 20px;
  align-items: space-between;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  max-width: 80%;
  margin: 0 auto;
}



div.post p.summary {
  margin: 10px 0;
  line-height: 1.4 rem;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  background-color: #f8f6f6;
  border: visible;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}
.buttom {
  border: 2px solid #070707;
  border-radius: 5px;
  color: #070707;
  background-color: #555;
}

form.login h1, h4,
form.register h1 {
color: #070707;
}
form.login h1{
  font-size: 3rem;
}

.create {
  /* display: flex; */
  justify-content: center;
}

.create input[type="title"] {
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid lightgray;
}

.create input[type="summary"] {
  font-size: 1.2em;
 
}
#bagger {
  display: none;
  
}
.comments {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formGroup {
  margin: 20px 0;
  width: 100%;
  text-align: left;
}

label {
  font-weight: bold;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;

}

input[type="submit"] {
  background-color: rgb(81, 81, 85);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
p {
  margin: 0;
}
.text {
 
  margin-top: -1.6rem;
}

.buttom {
  background-color: rgb(10, 10, 10);
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 2px;
  border: none;
  cursor: pointer;
}
.wellcome{
  align-items: center;
  font-size: bold;
}
img{
  width: 100%;
  display: block;
  object-fit: cover;
}
.image{
  width: 100%;
  height: 100%;
}
.image img
{
  aspect-ratio: 1/1;
  width: 100%;
}


.container {
  
  height: 23vh;
  position: relative;
  margin-top: -3rem;
  margin-left: -4rem;
}

@media (max-width: 767px) {
  header {
    align-items: center;
    display: flex;
    position: relative;
  }
  div.post {
    grid-template-columns: 1fr;
  }
  form.login,
  form.register {
    width: 90%;
  }
 
  .links {
    top: 6px;
    right: 0;
    font-family: bold;
    font-size: none;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 1rem;
  }
  #bagger {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    
  }
  form.login {
    width: 90%;
  }
  input {
    font-size: 1rem;
  }
 
  header nav {
    display: block;
    align-items: space-between;
    gap: 40px;
  
    
  } 
  .nav-open{
    color: rgb(0, 0, 0);
    display:none !important;;
    flex-direction: column;
  } 
  .logor {
    text-decoration: none;
    color: inherit;
    color: black;
    display: flex;
    flex-direction: column;
   position: relative;
  }
}
img{
  width: 100%;
  display: block;
  object-fit: cover;
}

.image img
{
  aspect-ratio: 1/1;
}